.papaya {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(8,50px);
    grid-template-rows: repeat(8, 50px);
    justify-content: center;
    margin: auto;
   padding-top: 50px;
}
.papaya div {
    border: 1px solid black;
}
.colores{
    background-color: black  ;
}